.Rproj.user
.Rhistory
.RData
.Ruserdata

scripts/seneca_letters .ipynb

data/.~lock.letters.csv#

data/letters_old.csv

scripts/.ipynb_checkpoints/seneca_letters-checkpoint.ipynb

scripts/.ipynb_checkpoints/seneca_letters-checkpoint.ipynb

data/.~lock.letters.csv#
scripts/.ipynb_checkpoints/Montaigne-checkpoint.ipynb
